
	

	header {
			border-bottom: 3px dashed #ffde59;
			background: #38b6ff;
			
			.navbar {
				width: 100%;
				max-width: 800px;
				display: flex;
				justify-content: space-around;
				align-items: center;
				margin: 0 auto;
		nav {
			h1 {
				color: white;
			}
		a {
			color: white;
			font-size: 16px;
			}
		}
	}

	}

	.container {
		@media @mobile {
			margin: 0;
		}

	background: linear-gradient(#ffffff, darkgray);
	width: 100%;
	max-width:800px;
   margin: 0 auto;
   line-height: 1;
		}
		.intro {
			margin: @margin auto;
			background: black;
			width: 100%;
			padding: 2% 0;
			border-radius:5px;
			
			h2, p {
				color: white;
				margin: 2% auto;
				text-align: center;
				width: 50%;
			}

			h2 {
				font-size: 2rem;
			}
			p{
				font-size: 1.5rem;
				a {
					color: dodgerblue;
					text-decoration: none;
				}
			}
		}

		.top {
			display: flex;
			justify-content: space-evenly;
			margin-bottom: @margin;

			.top-info {
				width: 35%;
			h2 {
				font-family: 'Open Sans Condensed',;
				font-size: 3rem;
				margin-bottom: 0;
				text-align: center;
				}
				p {
				font-family: 'ZCOOL XiaoWei', serif;
				font-size: 2rem;
				background: black;
				border-radius: 2%;
				margin-left: 2%;
				color: white;
				padding: 4%;
				}
			}
			.top-img {
						
				width: 600px;
				img {
					width: 80%;
					margin-left: 20%;
					margin-top: 15%;
					border-radius: 3%;
				}
			}
			
		}

		.hr {
			margin: 5% 0;
			display: block; 
  			content: ""; 
  			height: 30px; 
			margin-top: -31px;
			margin-bottom: 20%;
  			border-style: solid; 
  			border-color: black; 
  			border-width: 0 0 1px 0; 
  			border-radius: 20px; 
		}

   .main {
		background: rgba(0, 0, 0, 0.048);
		border: 1px double black;
		margin: 0 auto;
		
      .first, .second {
			display: flex;
			justify-content: space-between;
			.team {
				// border: 1px double black;
				margin: @margin auto;
				// display: flex;
				// flex-wrap: wrap;
				width: 30%;

				.img {
					width: 100%;
					margin-bottom: 3%;
					
					img {
						width: 100%;
						border-radius:2%;
					}
				}
				
				.right-text {
					background: white;
					margin-top: -3%;
					transform: translateY(-20px);
				}

				h2, hr {
					margin-bottom: 0;
					font-size: 1.5em;
					text-align: center;
					background: white;
					font-family: 'Open Sans Condensed', sans-serif;
				}
				hr {
					border-top: 3px double #8c8b8b
				}
				.style {
					font-size: 2.2em;
					font-family: 'ZCOOL XiaoWei', serif;
				}
				p {
					margin: 0;
					padding: 2.5%;
					background: white;
					font-size: 2em;
					font-family: 'Open Sans Condensed', sans-serif;
				}
}
			}
      }
	
	@media @tablet {
		body {
			width: 700px;
			
			.info {
						font-size: 3em;
					}
			}
				
				
			
}

@media @mobile {

	.navbar {
		flex-direction: column;
	}

	body {
		margin: 0 auto;

		.intro {
			margin: 0 auto;
		}

		.top {
			flex-direction: column-reverse;
			.top-info {
			margin: 0 auto;
			width: 65%;
			}
		}

		.hr {
			width: 75%;
			margin: 5% auto;
		}

		.main {
			max-width: 800px;
			width: 100%;

		}

		.outro {
			margin: 0 auto;
			text-align: center;
		}
	}
}